.intervention_rubrique div:nth-child(1n) {
  /* chaque "div" enfant de classe style "rubrique" */
  min-height: 30px;
  margin-top: 5px;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 9fr;
  grid-gap: 10px;
}

.intervention_rubrique div:nth-child(1) {
  /* the first child div of class "rubrique" */
  grid-template-columns: 1fr 9fr;
}

.intervention_rubrique div:nth-child(3) {
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
}

.intervention_sousrubrique {
  min-height: 30px;
  margin-top: 5px;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #808080;
}

.intervention_commentaire {
  text-align: left;
  font-size: 0.9em;
  white-space: pre; /* sauts de ligne \r\n conservés */
}

.prestation_rubrique {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#btn_presta_valider {
  margin: 10px;
  width: 50px;
  height: 50px;
  background: url(ressources/valider.png) no-repeat center center;
}

#btn_presta_annuler {
  margin: 10px;
  width: 50px;
  height: 50px;
  background: url(ressources/annuler.png) no-repeat center center;
}

.site_client {
  display: flex;
  justify-content: space-between;
}
